# Dependencies
node_modules/
.pnpm-store/

# Production builds
dist/
dist-ssr/

# Cloudflare Wrangler & Local DB / logs
.wrangler/
scratch/
*.log

# Local Environment & SQLite DB
careerdost.sqlite
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE & OS files
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
